.filepond--root {
    @apply mb-0 overflow-hidden;
}

.filepond--panel-root {
    @apply bg-white border border-gray-300 rounded-lg shadow-sm;
}

.filepond--drip-blob {
    @apply bg-gray-900;
}

.dark .filepond--drop-label {
    @apply text-gray-200;
}

.dark .filepond--panel-root {
    @apply border-gray-600 text-white bg-gray-700;
}

.dark .filepond--drip-blob {
    @apply bg-gray-100;
}

/* Compact-only styles, excluding compact circle layouts */

.filepond--root[data-style-panel-layout='compact'] .filepond--item {
    @apply mb-0.5;
}

.filepond--root[data-style-panel-layout='compact'] .filepond--drop-label label {
    @apply text-sm;
}

.filepond--root[data-style-panel-layout='compact'] .filepond--drop-label {
    min-height: 2.625em;
}

.filepond--root[data-style-panel-layout='compact'] .filepond--file {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/* Grid styles */

.filepond--root[data-style-panel-layout='grid'] .filepond--item {
    width: calc(50% - 0.5em);
}

@media (min-width: 50em) {
    .filepond--root[data-style-panel-layout='grid'] .filepond--item {
        width: calc(33.33% - 0.5em);
    }
}
