.ts-wrapper.single .ts-control, .ts-wrapper.single .ts-control input {
    @apply cursor-pointer;
}

.ts-wrapper .dropdown-header {
    @apply relative p-2 border-b rounded-lg;
}

.ts-wrapper .dropdown-header-close {
    @apply absolute right-3 top-1/2 opacity-40 -mt-2;
}

.ts-wrapper .dropdown-header-close:hover {
    @apply text-black;
}

.ts-wrapper {
    @apply relative;
}

.ts-dropdown,
.ts-control,
.ts-control input {
    color: #343a40;
    font-family: inherit;
    font-size: inherit;
    line-height: 1.5;
    font-smoothing: inherit;
}

.ts-control,
.ts-wrapper.single.input-active .ts-control {
    @apply bg-white cursor-text;
}

.ts-control {
    @apply min-h-[2.25rem] border transition duration-75 rounded-lg shadow-sm border-gray-300 px-3 py-2 w-full overflow-hidden relative z-[1] flex flex-wrap;
}

.ts-wrapper.multi.has-items .ts-control {
    padding: calc( 0.375rem - 1px - 0px) 0.75rem calc( 0.375rem - 1px - 3px - 0px);
}

.disabled .ts-control, .disabled .ts-control * {
    @apply !cursor-default;
}

.focus .ts-control {
    @apply shadow-none;
}

.ts-control > * {
    @apply inline-block align-baseline;
}

.ts-wrapper.multi .ts-control > div {
    @apply cursor-pointer mr-1 mb-1 px-2 py-0.5 text-sm font-medium tracking-tight text-primary-700 rounded-lg bg-primary-500/10 space-x-1;
}

.ts-wrapper.multi .ts-control > div.active {
    @apply bg-primary-600 text-white border-0;
}

.ts-wrapper.multi.disabled .ts-control > div, .ts-wrapper.multi.disabled .ts-control > div.active {
    color: #878787;
    @apply bg-white border-0;
}

.ts-control > input {
    flex: 1 1 auto;
    min-width: 7rem;
    display: inline-block !important;
    padding: 0 !important;
    min-height: 0 !important;
    max-height: none !important;
    max-width: 100% !important;
    margin: 0 !important;
    text-indent: 0 !important;
    border: 0 none !important;
    background: none !important;
    line-height: inherit !important;
    -webkit-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
    box-shadow: none !important;
}

.ts-control > input::-ms-clear {
    @apply hidden;
}

.ts-control > input:focus {
    @apply !outline-none;
}

.has-items .ts-control > input {
    margin: 0 4px !important;
}

.ts-control.rtl {
    @apply text-right;
}

.ts-control.rtl.single .ts-control:after {
    left: calc(0.75rem + 5px);
    right: auto;
}

.ts-control.rtl .ts-control > input {
    margin: 0 4px 0 -2px !important;
}

.disabled .ts-control {
    @apply opacity-50 bg-gray-50;
}

.input-hidden .ts-control > input {
    @apply opacity-0 absolute left-[-10000px];
}

.ts-dropdown {
    @apply absolute top-full left-0 w-full z-10 border border-gray-300 bg-white mt-1 shadow-md rounded-lg;
}

.ts-dropdown [data-selectable] {
    @apply cursor-pointer overflow-hidden;
}

.ts-dropdown [data-selectable] .highlight {
    @apply rounded-sm bg-primary-500/10;
}

.ts-dropdown .option,
.ts-dropdown .optgroup-header,
.ts-dropdown .no-results,
.ts-dropdown .create {
    @apply py-2 px-3;
}

.ts-dropdown .no-results {
    @apply text-sm;
}

.ts-dropdown .option, .ts-dropdown [data-disabled], .ts-dropdown [data-disabled] [data-selectable].option {
    @apply opacity-50;
}

.ts-dropdown [data-selectable].option {
    @apply opacity-100 cursor-pointer;
}

.ts-dropdown .optgroup:first-child .optgroup-header {
    @apply border-t-0;
}

.ts-dropdown .optgroup-header {
    @apply bg-white cursor-default text-gray-400;
}

.ts-dropdown .create:hover,
.ts-dropdown .option:hover {
    @apply bg-primary-600 text-white;
}

.ts-dropdown .active {
    @apply bg-gray-100;
}

.ts-dropdown .spinner {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-left: 0.5rem;
}

.ts-dropdown .spinner:after {
    content: " ";
    display: block;
    width: 24px;
    height: 24px;
    margin: 3px;
    border-radius: 50%;
    border: 5px solid #d0d0d0;
    border-color: #d0d0d0 transparent #d0d0d0 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.ts-dropdown-content {
    @apply overflow-y-auto overflow-x-hidden max-h-60 scroll-smooth;
    overflow-scrolling: touch;
}

.ts-hidden-accessible {
    @apply !border-0 !overflow-hidden !p-0 !absolute !w-px !whitespace-nowrap;
    clip: rect(0 0 0 0) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
}

.ts-wrapper.form-control,
.ts-wrapper.form-select {
    @apply !p-0;
}

.ts-dropdown,
.ts-dropdown.form-control,
.ts-dropdown.form-select {
    @apply h-auto p-0 z-[1000] bg-white border border-gray-300 rounded-lg shadow-md;
}

.ts-dropdown .optgroup-header {
    @apply text-sm leading-normal;
}
.ts-dropdown .optgroup:first-child:before {
    @apply hidden;
}
.ts-dropdown .optgroup:before {
    @apply block h-0 my-1 overflow-hidden border-t -mx-1;
    content: " ";
}

.ts-dropdown-content {
    @apply py-1;
}

.ts-control {
    @apply flex items-center;
    min-height: calc(1.5em + 0.75rem + 2px);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .ts-control {
        @apply transition-none;
    }
}

.ts-control.dropdown -active {
    @apply rounded-lg;
}

.focus .ts-control {
    @apply border-primary-600 ring-1 ring-inset ring-primary-600;
}

.ts-control .item {
    @apply flex items-center;
}

.input-group-sm > .ts-wrapper .ts-control, .ts-wrapper.form-select-sm .ts-control, .ts-wrapper.form-control-sm .ts-control {
    @apply text-sm rounded-lg px-3;
    min-height: calc(1.5em + 0.5rem + 2px);
}

.input-group-sm > .ts-wrapper.has-items .ts-control, .ts-wrapper.form-select-sm.has-items .ts-control, .ts-wrapper.form-control-sm.has-items .ts-control {
    @apply pb-0 text-sm;
    min-height: calc(1.5em + 0.5rem + 2px) !important;
}

.input-group-sm > .ts-wrapper.multi.has-items .ts-control, .ts-wrapper.form-select-sm.multi.has-items .ts-control, .ts-wrapper.form-control-sm.multi.has-items .ts-control {
    padding-top: calc((calc(1.5em + 0.5rem + 2px) - (1.5 * 0.875rem) - 4px) / 2) !important;
}

.ts-wrapper.multi.has-items .ts-control {
    padding-left: calc(0.75rem - 5px);
    padding-right: calc(0.75rem - 5px);
}

.input-group-lg > .ts-wrapper > .ts-control, .ts-wrapper.form-control-lg .ts-control, .ts-wrapper.form-select-lg .ts-control {
    @apply rounded-lg;
    min-height: calc(1.5em + 1rem + 2px);
}

.ts-wrapper:not(.form-select) {
    @apply p-0 border-0 h-auto shadow-none bg-transparent;
}

.ts-wrapper:not(.form-select).single .ts-control {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    padding-right: 2rem;
}

.ts-wrapper.form-select {
    @apply p-0 h-auto shadow-none;
}

.ts-wrapper.form-select .ts-control, .ts-wrapper.form-select.single.input-active .ts-control {
    @apply !border-0 !bg-transparent;
}

.input-group > .ts-wrapper {
    @apply flex-grow;
}

.input-group > .ts-wrapper:not(:nth-child(2)) > .ts-control {
    @apply rounded-tl-none rounded-bl-none;
}

.input-group > .ts-wrapper:not(:last-child) > .ts-control {
    @apply rounded-tr-none rounded-br-none;
}
