/.idea
/.phpunit.cache
/build
/coverage
/node_modules
/node_modules.nosync
/vendor
/vendor.nosync
/.pint.cache
/.prettiercache
/.rector.cache
/.vscode
.DS_Store
.phpunit.cache
.phpunit.result.cache
composer.phar
Thumbs.db
phpunit.xml
.env.testing
!phpunit.*.xml
/tests/**/Screenshots
