parameters:
    paths:
        - packages
    level: 5
    ignoreErrors:
        - '#Access to an undefined property [a-zA-Z0-9\\_]+::\$tags#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::appendNewUploadField\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::getDriver\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::getStatePath\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::removeUploadedFile\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::tagsWithType\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::temporaryUrl\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::url\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::where\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::whereIn\(\)#'
        - '#Call to an undefined static method [a-zA-Z0-9\\_]+::moveElementAfter\(\)#'
        - '#Call to an undefined static method [a-zA-Z0-9\\_]+::moveElementBefore\(\)#'
        - '#Call to static method findByUuid\(\) on an unknown class [a-zA-Z0-9\\_]+#'
        - '#Cannot call method addMediaFromString\(\) on Illuminate\\Database\\Eloquent\\Model\|string#'
        - '#Cannot call method getMedia\(\) on Illuminate\\Database\\Eloquent\\Model\|string#'
        - '#Cannot call method syncTags\(\) on Illuminate\\Database\\Eloquent\\Model\|string#'
        - '#Cannot call method syncTagsWithType\(\) on Illuminate\\Database\\Eloquent\\Model\|string#'
        - '#Class League\\Flysystem\\AwsS3v3\\AwsS3Adapter not found#'
