@import '../../../forms/dist/module.esm.css';

@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/themes/light.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        -webkit-tap-highlight-color: transparent;
    }

    :root.dark {
        color-scheme: dark;
    }

    [dir='rtl'] select {
        background-position: left 0.5rem center !important;
        padding-left: 2.5rem;
        padding-right: 0.75rem;
    }
}

@layer components {
    .filament-login-page {
        @apply relative bg-no-repeat;
        background-image: radial-gradient(
            circle at top,
            theme('colors.primary.100'),
            theme('colors.white') 50%
        );
    }

    .dark .filament-login-page {
        background-image: radial-gradient(
            circle at top,
            theme('colors.primary.800'),
            theme('colors.gray.800'),
            theme('colors.gray.900') 100%
        );
    }

    .filament-login-page form::before {
        @apply w-2/3 absolute inset-x-0 h-px mx-auto bg-gradient-to-r from-gray-200 via-primary-400 to-gray-200 dark:from-gray-700 dark:via-primary-400 dark:to-gray-700;
        content: '';
        z-index: 1;
        top: -1px;
    }

    .filament-main-topbar::before {
        @apply opacity-0;
        content: "";
        z-index: 5;
    }

    .is-sticky .filament-main-topbar::before {
        @apply opacity-100 h-16 block absolute inset-0 backdrop-blur-md transition-all bg-white/75 border-b border-gray-200 dark:bg-gray-900/75 dark:border-gray-700;
    }

    .is-sticky .filament-header {
        @apply transition-all z-10 min-h-[4rem] py-0 flex items-center space-y-0;
    }

    .is-sticky .filament-header .filament-header-heading {
        @apply text-xl overflow-ellipsis whitespace-nowrap;
    }

    [stuck] .filament-header {
        margin-inline: -1rem;
        padding-inline: theme("spacing.4");
        padding-block: theme("spacing.3");
        z-index: 20;
        min-height: 4rem;
        align-items: center;
        background-color: theme(colors.white / 75%);
        border-color: theme("colors.gray.200");
        border-bottom: solid 1px;
        backdrop-filter: blur(12px);
    }
}
