@import '../../../forms/dist/module.esm.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @override: @tailwindcss/forms */
@layer base {
    [dir='rtl'] select {
        background-position: left 0.5rem center !important;
        padding-left: 2.5rem;
        padding-right: 0.75rem;
    }
}

.dark .trix-button {
    @apply bg-dark-700 border-dark-600 text-dark-200
}

.dark .trix-button-group {
    @apply border-dark-600
}

