/.phpunit.cache
/node_modules
/public/build
/public/css/filament
/public/fonts/filament
/public/hot
/public/js/filament
/public/storage
/storage/*.key
/vendor
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.phpunit.result.cache
/.fleet
/.idea
/.vscode
