.fi-wi-stats-overview {
    @apply grid gap-6;

    &.fi-grid-cols-1 {
        @apply md:grid-cols-1;
    }

    &.fi-grid-cols-2 {
        @apply md:grid-cols-2;
    }

    &.fi-grid-cols-3 {
        @apply md:grid-cols-3;
    }

    &.fi-grid-cols-4 {
        @apply md:grid-cols-2 xl:grid-cols-4;
    }
}

.fi-wi-stats-overview-stat {
    @apply relative rounded-xl bg-white p-6 shadow-sm ring-1 ring-gray-950/5 dark:bg-gray-900 dark:ring-white/10;

    & .fi-wi-stats-overview-stat-icon {
        @apply size-5 text-gray-400 dark:text-gray-500;
    }

    & .fi-wi-stats-overview-stat-content {
        @apply grid gap-y-2;
    }

    & .fi-wi-stats-overview-stat-label-ctn {
        @apply flex items-center gap-x-2;
    }

    & .fi-wi-stats-overview-stat-label {
        @apply text-sm font-medium text-gray-500 dark:text-gray-400;
    }

    & .fi-wi-stats-overview-stat-value {
        @apply text-3xl font-semibold tracking-tight text-gray-950 dark:text-white;
    }

    & .fi-wi-stats-overview-stat-description {
        @apply flex items-center gap-x-1 text-sm text-gray-500 dark:text-gray-400;

        &.fi-color-custom {
            @apply text-custom-600 dark:text-custom-400;

            & .fi-wi-stats-overview-stat-description-icon {
                @apply text-custom-500;
            }
        }
    }

    & .fi-wi-stats-overview-stat-description-icon {
        @apply size-5 text-gray-400 dark:text-gray-500;
    }

    & .fi-wi-stats-overview-stat-chart {
        @apply absolute inset-x-0 bottom-0 overflow-hidden rounded-b-xl;

        & > canvas {
            @apply h-6;
        }

        & .fi-wi-stats-overview-stat-chart-bg-color {
            @apply text-gray-100 dark:text-gray-800;
        }

        & .fi-wi-stats-overview-stat-chart-border-color {
            @apply text-gray-400;
        }

        &.fi-color-custom {
            & .fi-wi-stats-overview-stat-chart-bg-color {
                @apply text-custom-50 dark:text-custom-400/10;
            }

            & .fi-wi-stats-overview-stat-chart-border-color {
                @apply text-custom-500 dark:text-custom-400;
            }
        }
    }
}
