/**
 * Smoothly animate the scroll position, instead of a straight jump.
 */
html {
  scroll-behavior: smooth;
}

/**
 * Disable animations if the user has turned on the a11y option for reduced motion due to
 * vestibular disorders etc.
 *
 * @link https://css-tricks.com/introduction-reduced-motion-media-query/#article-header-id-3
 */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01s !important;
    transition-duration: 0.01s !important;
  }
}

/**
   * ::selection selector: color, background, cursor, and outline.
   */
::selection {
  @apply bg-blue-600 text-white;
}

/**
   * `x-cloak` attributes are removed from elements when Alpine initializes.
   * This is useful for hiding pre-initialized DOM.
   *
   * @link https://github.com/alpinejs/alpine#x-cloak
   *
   */
[x-cloak] {
  @apply hidden;
}

/**
   * Selectively disable the default focus style by selecting for the case when the polyfill
   * is loaded and [data-focus-visible-added] attribute is not applied to the element:
   *
   * @link https://github.com/WICG/focus-visible#2-update-your-css
   */
.js-focus-visible :focus:not([data-focus-visible-added]) {
  @apply outline-none;
}
