@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  @import './base.css';
}

@layer components {
  @import './components/button.css';
}

@layer utilities {
}
