.fi-breadcrumbs {
    & ol {
        @apply flex flex-wrap items-center gap-x-2;

        & li {
            @apply flex items-center gap-x-2 text-sm font-medium text-gray-500 dark:text-gray-400;

            & a {
                @apply transition duration-75 hover:text-gray-700 dark:hover:text-gray-200;
            }

            & .fi-icon {
                @apply flex size-5 text-gray-400 dark:text-gray-500;

                &.fi-ltr {
                    @apply rtl:hidden;
                }

                &.fi-rtl {
                    @apply ltr:hidden;
                }
            }
        }
    }
}
