@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/themes/light.css';
@import '../../../forms/dist/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        -webkit-tap-highlight-color: transparent;
    }

    :root.dark {
        color-scheme: dark;
    }

    [dir='rtl'] select {
        background-position: left 0.5rem center !important;
        padding-left: 2.5rem;
        padding-right: 0.75rem;
    }
}
