@import 'index.css';

@layer components {
    .filament-card-layout {
        @apply relative bg-no-repeat;
        background-image: radial-gradient(
            circle at top,
            theme('colors.primary.100'),
            theme('colors.white') 50%
        );
    }

    .dark .filament-card-layout {
        background-image: radial-gradient(
            circle at top,
            theme('colors.primary.800'),
            theme('colors.gray.800'),
            theme('colors.gray.900') 100%
        );
    }

    .filament-card-layout .filament-card-layout-card::before {
        @apply absolute inset-x-0 mx-auto h-px w-2/3 bg-gradient-to-r from-gray-200 via-primary-400 to-gray-200 dark:from-gray-700 dark:via-primary-400 dark:to-gray-700;
        content: '';
        z-index: 1;
        top: -1px;
    }

    .filament-sidebar-header::before {
        @apply pointer-events-none absolute inset-x-0 mx-auto h-px w-full bg-gradient-to-r from-black/5 via-primary-400 to-gray-200 dark:from-gray-700 dark:via-primary-400 dark:to-gray-700;
        content: '';
        z-index: 1;
        bottom: -1px;
    }
}
